<div class="input-group col-sm-6 search-box">
    <input ng-blur="updateQueryTerm()" class="form-control" ng-model="query" placeholder="{{ pHolder }}" type="search" ng-change="search()"/>
        <span class="input-group-addon">
           {{ sbList.length }} {{ 'RECORDS_FOUND'| translate }}
        </span>
</div>