<div id="app" class="app" ng-class="{'layout-boxed': admin.layout === 'boxed' }">
    <section ui-view="header"
         id="header"
         class="header-container "
         ng-class="{'header-fixed': admin.fixedHeader}">
     </section>

    <div class="main-container">
        <aside ui-view="nav"
           id="nav-container"
           class="nav-container"
           ng-class="{'nav-fixed': admin.fixedSidebar, 'nav-horizontal': admin.menu === 'horizontal', 'nav-vertical': admin.menu === 'vertical'}">
        </aside>

        <div id="content" class="content-container">

            <div class="page">
                <div class="row">
                    <div class="col-lg-12">
                        <section ng-show="hasAlerts" class="panel panel-default panel-alerts">
                            <div class="panel-heading">{{ 'ALERTS' | translate }}</div>
                            <div class="panel-body">
                                <alert-box has-alerts="hasAlerts"></alert-box>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <section ui-view="content" class="animate-fade-up"></section>
                    </div>
                </div>
            </div>

         </div>
    </div>
</div>