<header class="top-header clearfix">

    <!-- Logo -->
    <div class="logo">
        <img src="assets/images/logo-header.png" alt="Giao Vận Tận Tâm">
    </div>

    <!-- needs to be put after logo to make it work-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="javascript:;" toggle-nav-collapsed-min class="toggle-min"><i class="fa fa-bars"></i></a>
            </li>
            <li class="dropdown text-normal nav-profile" dropdown>
                <a href="javascript:;" dropdown-toggle>
                    <span>{{ currentUser.username }}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu with-arrow">
                    <li ng-controller="Logout">
                        <a ng-click="logout()">
                            <i class="fa fa-sign-out"></i>
                            {{ 'LOGOUT' | translate }}
                        </a>
                    </li>
                </ul>
            </li>


            <li ng-controller="SocketHeader" class="dropdown open" dropdown>
                <a href="javascript:;" class="dropdown-toggle bg-warning" dropdown-toggle>
                    <i class="fa fa-bell-o nav-icon"></i>
                    <span class="badge badge-info">{{ totalOrder }}</span>
                </a>
                <div class="dropdown-menu pull-left with-arrow panel panel-default">
                    <div class="panel-heading">
                        Bạn có {{ totalOrder }} đơn hàng mới
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="order in newOrders">
                            <a href="javascript:;" class="media">
                                <!--<span class="media-left media-icon">-->
                                    <!--<span class="round-icon sm bg-success"><i class="fa fa-bell-o"></i></span>-->
                                <!--</span>-->
                                <div class="media-body">
                                    <span class="block" ui-sref=".management.order.edit({id: order.id})" ng-click="hasView(order)"><strong>{{ order.name }}</strong> đã tạo một đơn hàng</span>
                                    <!--<span class="text-muted block">2min ago</span>-->
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</header>
