<div class="nav-wrapper">
    <ul id="nav" class="nav" collapse-nav slim-scroll>
        <li ui-sref-active="active">
            <a ui-sref=".management.order.list"><i class="fa fa-shopping-cart"></i><span>Danh sách vận đơn</span></a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref=".management.order.new"><i class="fa fa-plus"></i><span>Thêm mới vận đơn</span></a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref=".management.money.list"><i class="fa fa-money"></i><span>Quản lý công nợ</span></a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref=".management.assignation.new"><i class="fa fa-truck"></i><span>Giao việc</span></a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref=".management.statistics.list"><i class="fa fa-bar-chart"></i><span>Thống kê theo ngày</span></a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref=".usersManagement"><i class="fa fa-user"></i><span>{{ 'NAV_MODULE.USERS_MANAGEMENT' | translate }}</span></a>
            <ul>
                <li ui-sref-active-eq="active"><a ui-sref=".usersManagement.managers.list"><i class="fa fa-caret-right"></i>{{ 'NAV_MODULE.MANAGERS' | translate }}</a></li>
                <li ui-sref-active-eq="active"><a ui-sref=".usersManagement.customer.list"><i class="fa fa-caret-right"></i>Danh sách khách hàng</a></li>
                <li ui-sref-active-eq="active"><a ui-sref=".usersManagement.shippers.list"><i class="fa fa-caret-right"></i>Danh sách Shipper</a></li>

                <li ui-sref-active-eq="active"><a ui-sref=".usersManagement.managers.new"><i class="fa fa-caret-right"></i>{{ 'NAV_MODULE.NEW_MANAGER' | translate }}</a></li>
                <li ui-sref-active-eq="active"><a ui-sref=".usersManagement.customer.new"><i class="fa fa-caret-right"></i>Thêm khách hàng</a></li>
                <li ui-sref-active-eq="active"><a ui-sref=".usersManagement.shippers.new"><i class="fa fa-caret-right"></i>Thêm Shipper</a></li>
            </ul>
        </li>

        <!--<li ui-sref-active="active">-->
            <!--<a ui-sref=".management.order"><i class="fa fa-shopping-cart"></i><span>Quản lý vận đơn</span></a>-->
            <!--<ul>-->
                <!--<li ui-sref-active-eq="active"><a ui-sref=".management.order.list"><i class="fa fa-caret-right"></i>Danh sách vận đơn</a></li>-->
                <!--<li ui-sref-active-eq="active"><a ui-sref=".management.order.new"><i class="fa fa-caret-right"></i>Thêm mới vận đơn</a></li>-->
            <!--</ul>-->
        <!--</li>-->
    </ul>
</div>