<div class="page-signin">

    <div class="signin-header">
        <section class="logo text-center">
            <a ng-href="{{ frontPageEndPoint+'/#/public/home?lang='+lang }}"><img src="assets/images/logo.png" alt="im9"></a>
        </section>
    </div>

    <div class="signin-body">
        <div class="container">

            <div class="form-container">

                <alert-box></alert-box>

                <form name="loginForm" class="form-horizontal" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-user"></span>
                            <input type="text" name="username" ng-model="credentials.username" ng-required="true" ng-minlength="2" class="form-control input-lg input-round text-center" placeholder="{{ 'USERNAME' | translate}}">
                        </div>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-lock"></span>
                            <input type="password" name="password" ng-model="credentials.password" ng-required="true" ng-minlength="2" class="form-control input-lg input-round text-center" placeholder="{{ 'PASSWORD' | translate}}">
                        </div>
                        <div class="form-group">
                            <button ng-disabled="!isFormValid()" ng-click="login(credentials)" ng-disabled="formProcessing" class="btn btn-primary btn-lg btn-round btn-block text-center">{{ 'LOGIN' | translate}}</button>
                        </div>
                    </fieldset>
                </form>

                <section>
                    <p class="text-center"><a ui-sref="checkEmail">{{ 'FORGOT_PASSWORD' | translate }}</a></p>
                    <p class="text-center text-muted text-small">Bạn đã có tài khoản chưa? <a href="#/register">Đăng ký</a></p>
                </section>

            </div>
        </div>
    </div>

</div>