<header class="top-header clearfix">

    <!-- Logo -->
    <div class="logo">
        <img src="assets/images/logo-header.png" alt="Giao Vận Tận Tâm">
    </div>

    <!-- needs to be put after logo to make it work-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="javascript:;" toggle-nav-collapsed-min class="toggle-min"><i class="fa fa-bars"></i></a>
            </li>
            <li class="dropdown text-normal nav-profile" dropdown>
                <a href="javascript:;" dropdown-toggle>
                    <span>{{ currentUser.username }}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu with-arrow">
                    <li ng-controller="Logout">
                        <a ng-click="logout()">
                            <i class="fa fa-sign-out"></i>
                            {{ 'LOGOUT' | translate }}
                        </a>
                    </li>
                    <li>
                        <a ui-sref=".managerManagement.edit">
                            <i class="fa fa-edit"></i>
                            {{ 'EDIT_PROFILE' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-controller="LayoutHeader" class="text-normal">
                <a ng-if="showButtonSwitchBackToAdmin()" ng-click="switchBackToAdminAccount()"><span>{{ 'RETURN_TO_ADMIN' | translate }}</span></a>
            </li>

            <li ng-controller="SocketHeader" class="dropdown open" dropdown>
                <a href="javascript:;" class="dropdown-toggle bg-warning" dropdown-toggle>
                    <i class="fa fa-bell-o nav-icon"></i>
                    <span class="badge badge-info">{{ totalOrder }}</span>
                </a>
                <div class="dropdown-menu pull-left with-arrow panel panel-default">
                    <div class="panel-heading">
                        Bạn có {{ totalOrder }} đơn hàng mới
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="order in newOrders">
                            <a href="javascript:;" class="media">
                                <!--<span class="media-left media-icon">-->
                                <!--<span class="round-icon sm bg-success"><i class="fa fa-bell-o"></i></span>-->
                                <!--</span>-->
                                <div class="media-body">
                                    <span class="block" ui-sref=".management.order.edit({id: order.id})" ng-click="hasView(order)"><strong>{{ order.name }}</strong> đã tạo một đơn hàng</span>
                                    <!--<span class="text-muted block">2min ago</span>-->
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <!--<ul class="pull-right nav-left list-unstyled">-->
            <!--<li class="dropdown langs text-normal" dropdown ng-controller="LangCtrl">-->
                <!--<a href="javascript:;" class="dropdown-toggle active-flag" id="step2" dropdown-toggle>-->
                    <!--<div class="flag {{ getFlag() }}"></div>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu with-arrow pull-right list-langs" role="menu">-->
                    <!--<li ng-show="lang !== 'vi' ">-->
                        <!--<a href="javascript:;" ng-click="setLang('vi')"><div class="flag flag-icon-vi"></div> Việt Nam</a></li>-->
                    <!--<li ng-show="lang !== 'en' ">-->
                        <!--<a href="javascript:;" ng-click="setLang('en')"><div class="flag flag-icon-en"></div> English</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    </div>

</header>
