<div class="page-signin">

    <div class="signin-header">
        <section class="logo text-center">
            <a href="#/">{{ 'LOGIN' | translate }}</a>
        </section>
    </div>

    <div class="signin-body">
        <div class="container">

            <div class="form-container">

                <alert-box></alert-box>

                <form ng-show="validateToken" name="resetForm" class="form-horizontal" novalidate ng-submit="changePassword()">
                    <fieldset>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-lock"></span>
                            <input type="password" name="password" ng-model="password" ng-required="true" ng-minlength="2" class="form-control input-lg input-round text-center" placeholder="{{ 'RESET_PASSWORD_MODULE.NEW_PASSWORD' | translate }}">
                        </div>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-refresh"></span>
                            <input type="password" name="password" ng-model="repeatPassword" ng-required="true" ng-minlength="2" class="form-control input-lg input-round text-center" placeholder="{{ 'RESET_PASSWORD_MODULE.REPEAT_PASSWORD' | translate }}">
                        </div>
                        <div class="form-group">
                            <button ng-disabled="!isFormValid()" class="btn btn-primary btn-lg btn-round btn-block text-center" type="submit">{{ 'RESET_PASSWORD_MODULE.RESET_PASSWORD' | translate }}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>