<div class="page-forgot">

    <div class="signin-header">
        <section class="logo text-center">
            <a href="#/">{{ 'LOGIN' | translate }}</a>
        </section>
    </div>

    <div ng-show="showForm" class="info text-center">
        <p class="text-small">{{ 'RESET_PASSWORD_MODULE.HELP_BLOCK_CHECK_EMAIL' | translate }}</p>
    </div>

    <div class="form-container text-center">

        <alert-box></alert-box>

        <form ng-show="showForm" class="form-horizontal" name="forgotPasswordForm" ng-submit="sendEmail()">
            <div class="form-group">
                <span class="glyphicon glyphicon-user"></span>
                <input ng-model="username"
                       type="text"
                       class="form-control input-lg input-round text-center"
                       placeholder="{{ 'RESET_PASSWORD_MODULE.USERNAME_EMAIL' | translate }}">
            </div>
            <div class="form-group">
                <button ng-disabled="!isFormValid()" class="btn btn-lg btn-block btn-primary btn-round" type="submit">{{ 'RESET_PASSWORD_MODULE.RESET' | translate }}</button>
            </div>
        </form>

    </div>
</div>