<section class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> <strong current-page-title></strong></div>
    <div class="panel-body">
        <div class="row">
            <form name="userForm" class="col-lg-6 form-validation form-horizontal userForm" role="form" ng-submit="submit()" novalidate>
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 control-label">{{ 'MANAGER_MODULE.USERNAME' | translate }} <strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error name="username" ng-model="manager.username" ng-required="true" ng-minlength="2" type="text" autocomplete="off" class="form-control" id="inputUsername" placeholder="{{ 'MANAGER_MODULE.USERNAME' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">{{ 'MANAGER_MODULE.PASSWORD' | translate }} <strong class="text-danger" ng-if="isNew">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error name="plainPassword" ng-model="manager.plainPassword" ng-required="isNew" ng-minlength="2" type="password" autocomplete="off" class="form-control" id="inputPassword" placeholder="{{ 'MANAGER_MODULE.PASSWORD' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRepeatPassword" class="col-sm-2 control-label">{{ 'MANAGER_MODULE.REPEAT_PASSWORD' | translate }} <strong class="text-danger" ng-if="isNew">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error name="inputRepeatPassword" ng-model="repeatPassword" ng-required="isNew" ng-minlength="2" type="password" autocomplete="off" class="form-control" id="inputRepeatPassword" placeholder="{{ 'MANAGER_MODULE.REPEAT_PASSWORD' | translate }}">
                        <span class="help-block">{{ 'MANAGER_MODULE.HELP_BLOCK_REPEAT_PASSWORD' | translate }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="col-sm-2 control-label">{{ 'MANAGER_MODULE.PHONE' | translate }} <strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error ng-required="true" name="phone" ng-model="manager.phone" type="text" class="form-control" id="inputPhone" placeholder="{{ 'MANAGER_MODULE.PHONE' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">{{ 'MANAGER_MODULE.EMAIL' | translate }} <strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error ng-required="true" name="email" ng-model="manager.email" type="email" class="form-control" id="inputEmail" placeholder="{{ 'MANAGER_MODULE.EMAIL' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFirstName" class="col-sm-2 control-label">{{ 'NAME' | translate }}</label>
                    <div class="col-sm-10">
                        <input server-error ng-required="true" name="firstName" ng-model="manager.name" type="text" class="form-control" id="inputFirstName" placeholder="{{ 'MANAGER_MODULE.FIRST_NAME' | translate }}">
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label for="inputLastName" class="col-sm-2 control-label">{{ 'MANAGER_MODULE.LAST_NAME' | translate }} <strong class="text-danger">*</strong></label>-->
                    <!--<div class="col-sm-10">-->
                        <!--<input server-error ng-required="true" name="lastName" ng-model="manager.lastName" type="text" class="form-control" id="inputLastName" placeholder="{{ 'MANAGER_MODULE.LAST_NAME' | translate }}">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'MANAGER_MODULE.GENDER' | translate }} <strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <label ng-required="true" class="ui-radio"><input name="radio1" ng-model="manager.gender" type="radio" ng-value="false" ><span>{{ 'MANAGER_MODULE.MALE' | translate }}</span></label>
                        <label ng-required="true" class="ui-radio"><input name="radio1" ng-model="manager.gender" type="radio" ng-value="true" ><span>{{ 'MANAGER_MODULE.FEMALE' | translate }}</span></label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress" class="col-sm-2 control-label">{{ 'MANAGER_MODULE.ADDRESS' | translate }} <strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error ng-required="true" name="gender" ng-model="manager.address" type="text" class="form-control" id="inputAddress" placeholder="{{ 'MANAGER_MODULE.ADDRESS' | translate }}">
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">{{ 'MANAGER_MODULE.CITY' | translate }}</label>-->
                    <!--<div class="col-sm-10">-->
                        <!--<ui-select name="country" id="inputCountry" ng-model="manager.city" server-error reset-search-input="'false'">-->
                            <!--<ui-select-match placeholder="{{ 'MANAGER_MODULE.SELECT_A_CITY' | translate }}">{{ $select.selected.label }}</ui-select-match>-->
                            <!--<ui-select-choices repeat="city.key as city in city | filter: $select.search">-->
                                <!--{{ city.label }}-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="!isFormValid()" ng-disabled="formProcessing" type="submit" class="btn btn-success">{{ 'SUBMIT' | translate }}</button>
                        <div ng-show="!isFormValid()" class="callout callout-info">
                            <p>{{ 'VALID_FORM' | translate }}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>