<div class="nav-wrapper">
    <ul id="nav" class="nav" collapse-nav slim-scroll>
        <li ui-sref-active="active">
            <a ui-sref=".management.order.list"><i class="fa fa-shopping-cart"></i><span>Danh sách vận đơn</span></a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref=".management.order.new"><i class="fa fa-plus"></i><span>Thêm mới vận đơn</span></a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref=".management.money.list"><i class="fa fa-money"></i><span>Quản lý công nợ</span></a>
        </li>

        <!--<li ui-sref-active="active">-->
            <!--<a ui-sref=".management.order"><i class="fa fa-shopping-cart"></i><span>Quản lý vận đơn</span></a>-->
            <!--<ul>-->
                <!--<li ui-sref-active-eq="active"><a ui-sref=".management.order.list"><i class="fa fa-caret-right"></i>Danh sách vận đơn</a></li>-->
                <!--<li ui-sref-active-eq="active"><a ui-sref=".management.order.new"><i class="fa fa-caret-right"></i>Thêm mới vận đơn</a></li>-->
            <!--</ul>-->
        <!--</li>-->
    </ul>
</div>