@mixin ui-select-width($minWidth) {
    .ui-select-bootstrap,
    .ui-select-bootstrap > .ui-select-match,
    .ui-select-bootstrap > .ui-select-search {
        min-width: $minWidth;
    }
}

.ui-select-multiple {
  min-height: $input-height-base;
  border-color: #cfcfcf !important;
}

.ui-select-match {
  z-index: 9999;
  height: 34px;
}


.fileUpload {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#form-selector {
  label {
    font-size: 12px;
    text-transform: uppercase;
  }

  .form-inline {
    .date-picker {
      min-width: 200px;
      cursor: pointer;
    }

    > .form-group {
      @media (min-width: $screen-sm) {
        margin-right: 8px;
      }
    }

    .btn-primary {
      @media (min-width: $screen-sm) {
        margin-top: 22px;
      }
    }

    .form-group {
      @include ui-select-width(200px);
    }

  }
}

.selected-date .col-sm-4 {
  select {
    width: 100%;
  }
}

.type-currency {
  label { position: absolute; background: white; left:16px; top: 5px; cursor: pointer; font-weight: normal !important;}
  input { position: relative; }
  input { padding:0 20px 0 12px !important; line-height: 20px; }
  label { padding:2px 20px 0 12px !important; line-height: 20px; }
  input:focus + label { display: none; }
}

.form-col .form-group {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.select-type-ship {
  .col-md-6:hover {
    .bg-info, .bg-danger {
      background-color: #94B758;
    }

    .list-justified-container {
      background-color: #F1F1F1;
    }
  }

  .panel-profile {
    border: #CBD5DD solid 1px
  }
}