<section class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span> <strong current-page-title></strong>

        <!--<div class="button-bar hidden-xs">-->
            <!--<button ng-if="!isNew" ng-click="backToListCustomer()" class="btn btn-sm btn-primary" type="button">-->
                <!--<span class="glyphicon glyphicon glyphicon-arrow-left"></span>-->
                <!--{{ 'MANAGER_MODULE.BACK_TO_MANAGER_LIST' | translate }}-->
            <!--</button>-->
        <!--</div>-->
    </div>
    <div class="panel-body">
        <div class="row">
            <form name="userForm" class="col-lg-6 form-validation form-horizontal userForm" role="form" ng-submit="submit()" novalidate>
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 control-label"> {{ 'MANAGER_MODULE.USERNAME' | translate }} <strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error name="username" ng-model="customer.username" ng-required="true" ng-minlength="3" type="text" autocomplete="off" class="form-control" id="inputUsername" placeholder=" {{ 'MANAGER_MODULE.USERNAME' | translate }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label"> {{ 'MANAGER_MODULE.PASSWORD' | translate }} <strong class="text-danger" ng-if="isNew">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error name="password " ng-model="customer.plainPassword " ng-required="isNew" ng-minlength="3" type="password" autocomplete="off" class="form-control" id="inputPassword" placeholder=" {{ 'MANAGER_MODULE.PASSWORD' | translate }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputRepeatPassword" class="col-sm-2 control-label"> {{ 'MANAGER_MODULE.REPEAT_PASSWORD' | translate }} <strong class="text-danger" ng-if="isNew">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error name="inputRepeatPassword" ng-model="repeatPassword" ng-required="isNew" ng-minlength="3" type="password" autocomplete="off" class="form-control" id="inputRepeatPassword" placeholder="{{ 'MANAGER_MODULE.REPEAT_PASSWORD' | translate }}">
                        <span ng-if="!isNew" class="help-block">{{ 'MANAGER_MODULE.HELP_BLOCK_REPEAT_PASSWORD' | translate }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPhone" class="col-sm-2 control-label">{{ 'MANAGER_MODULE.PHONE' | translate }} <strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error ng-required="true" name="phone" ng-model="customer.phone" type="text" class="form-control" id="inputPhone" placeholder="{{ 'MANAGER_MODULE.PHONE' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">{{ 'MANAGER_MODULE.EMAIL' | translate }} <strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error ng-required="true" name="email" ng-model="customer.email" type="email" class="form-control" id="inputEmail" placeholder="{{ 'MANAGER_MODULE.EMAIL' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Tên<strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error ng-required="true" name="name" ng-model="customer.name" type="text" class="form-control" id="name" placeholder="Tên khách hàng">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'MANAGER_MODULE.GENDER' | translate }} <strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <label ng-required="true" class="ui-radio"><input name="radio1" ng-model="customer.gender" type="radio" ng-value="false" ><span>{{ 'MANAGER_MODULE.MALE' | translate }}</span></label>
                        <label ng-required="true" class="ui-radio"><input name="radio1" ng-model="customer.gender" type="radio" ng-value="true" ><span>{{ 'MANAGER_MODULE.FEMALE' | translate }}</span></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputProvince">Tỉnh/Thành Phố</label>
                    <div class="col-sm-10">
                        <ui-select name="owner" id="inputProvince" ng-model="selectData.province" on-select="selectProvince($item)" ng-required="true" server-error reset-search-input="'false'">
                            <ui-select-match placeholder="Tỉnh/Thành Phố">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="province.id as province in provinces">
                                {{ province.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputDistrict">Quận/Huyện</label>
                    <div class="col-sm-10">
                        <ui-select name="owner" id="inputDistrict" ng-model="customer.district" on-select="autoCost()" ng-required="true" server-error reset-search-input="'false'">
                            <ui-select-match placeholder=Quận/Huyện>{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="district.id as district in districts">
                                {{ district.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAddress" class="col-sm-2 control-label">{{ 'MANAGER_MODULE.ADDRESS' | translate }} <strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error ng-required="true" name="address" ng-model="customer.address" type="text" class="form-control" id="inputAddress" placeholder="{{ 'MANAGER_MODULE.ADDRESS' | translate }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="accountOwner" class="col-sm-2 control-label">Tên chủ thẻ</label>
                    <div class="col-sm-10">
                        <input server-error name="accountOwner" ng-model="customer.accountOwner" type="text" class="form-control" id="accountOwner" placeholder="Tên chủ thẻ">
                    </div>
                </div>
                <div class="form-group">
                    <label for="accountNumber" class="col-sm-2 control-label">Số tài khoản</label>
                    <div class="col-sm-10">
                        <input server-error name="accountNumber" ng-model="customer.accountNumber" type="text" class="form-control" id="accountNumber" placeholder="Số tài khoản">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bankName" class="col-sm-2 control-label">Tên ngân hàng</label>
                    <div class="col-sm-10">
                        <input server-error name="bankName" ng-model="customer.bankName" type="text" class="form-control" id="bankName" placeholder="Tên ngân hàng">
                    </div>
                </div>
                <div class="form-group">
                    <label for="branch" class="col-sm-2 control-label">Chi Nhánh</label>
                    <div class="col-sm-10">
                        <input server-error name="branch" ng-model="customer.branch" type="text" class="form-control" id="branch" placeholder="Chi Nhánh">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEnabled" class="col-sm-2 control-label">{{ 'MANAGER_MODULE.ENABLED' | translate }}</label>
                    <div class="col-sm-10">
                        <label class="ui-checkbox"><input server-error name="enabled" type="checkbox" ng-model="customer.enabled" id="inputEnabled"><span></span></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="!isFormValid()" ng-disabled="formProcessing" type="submit" class="btn btn-w-md btn-primary">{{ 'SUBMIT' | translate }}</button>
                        <div ng-show="!isFormValid()" class="callout callout-info">
                            <p>{{ 'VALID_FORM' | translate }}</p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>