<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>

        <div class="button-bar hidden-xs">
            <button ui-sref="^.new" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon glyphicon-plus"></span>
                Thêm khách hàng
            </button>
        </div>
    </div>

    <search-box sb-list="customers" search-fields="['id', 'username', 'email']"></search-box>

    <div class="panel-body" ng-if="hasData()">
        <div class="table-responsive">
            <table class="table" at-sortable-query at-table at-paginated at-list="customers" at-config="tableConfig">
                <thead></thead>
                <tbody>
                <tr>
                    <td at-title="#" at-implicit at-sortable at-attribute="id" at-initial-sorting="desc"></td>
                    <td at-title="{{ 'ACTIONS' | translate }}">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " dropdown-toggle> {{ 'ACTIONS' | translate }} <span class="caret"></span> </button>
                            <ul class="dropdown-menu" role="menu">
                                <!--<li ng-if="isAdmin()"><a ng-click="visitManager(item.id)">Đăng nhập là khách hàng</a></li>-->
                                <!--<li ng-if="isAdmin()" class="divider"></li>-->
                                <li><a ui-sref="^.edit({ id: item.id })">Chỉnh sửa thông tin khách hàng</a></li>
                                <li><a ng-click="toggleManagerStatus(item)">{{ item.enabled ? 'Vô hiệu hóa khách hàng' : 'Cho phép sử dụng' }}</a></li>
                            </ul>
                        </div>
                    </td>
                    <td at-title="{{ 'NAME' | translate }}" at-implicit at-sortable at-attribute="name"></td>
                    <td at-title="{{ 'MANAGER_MODULE.USERNAME' | translate }}" at-implicit at-sortable at-attribute="username"></td>
                    <td at-title="{{ 'MANAGER_MODULE.EMAIL' | translate }}" at-implicit at-sortable at-attribute="email"></td>
                    <td at-title="{{ 'MANAGER_MODULE.PHONE' | translate }}" at-implicit at-sortable at-attribute="phone"></td>
                    <td at-title="Tên Chủ Thẻ" at-implicit at-sortable at-attribute="accountOwner"></td>
                    <td at-title="Số Tài Khoản" at-implicit at-sortable at-attribute="accountNumber"></td>
                    <td at-title="Tên Ngân Hàng" at-implicit at-sortable at-attribute="bankName"></td>
                    <td at-title="Chi Nhánh" at-implicit at-sortable at-attribute="branch"></td>
                    <td at-title="{{ 'MANAGER_MODULE.LAST_LOGIN' | translate }}" at-sortable at-attribute="lastLogin">
                        {{ item.lastLogin | date }}
                    </td>
                    <td at-title="{{ 'MANAGER_MODULE.STATUS' | translate }}" at-sortable at-attribute="enabled">
                        <span class="label" ng-class="item.enabled ? 'label-success' : 'label-danger'">{{ item.enabled ? ( 'MANAGER_MODULE.ACTIVE' | translate ) : ( 'MANAGER_MODULE.INACTIVE' | translate ) }}</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <at-pagination at-pagination-query ng-if="showPagination()" at-list="customers" at-config="tableConfig"></at-pagination>
        </div>
    </div>

</div>