<div class="page-signin" style="margin-top: -120px !important;">

    <div class="signin-header">
        <section class="logo text-center">
            <a ng-href="{{ frontPageEndPoint+'/#/public/home?lang='+lang }}"><img src="assets/images/logo.png" alt="im9"></a>
        </section>
    </div>

    <div class="signin-body">
        <div class="container">

            <div class="form-container">

                <alert-box></alert-box>

                <form name="registerForm" ng-submit="register()" class="form-horizontal" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <input server-error type="email" name="email" ng-model="customer.email" ng-required="true" ng-minlength="2" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input server-error type="text" name="username" ng-model="customer.username" ng-required="true" ng-minlength="2" class="form-control" placeholder="{{ 'USERNAME' | translate}}">
                        </div>
                        <div class="form-group">
                            <input server-error type="password" name="plainPassword" ng-model="customer.plainPassword" ng-required="true" ng-minlength="2" class="form-control" placeholder="{{ 'PASSWORD' | translate}}">
                        </div>
                        <div class="form-group">
                            <input server-error type="text" name="name" ng-model="customer.name" ng-required="true" ng-minlength="2" class="form-control" placeholder="Tên đầy đủ">
                        </div>
                        <div class="form-group">
                            <input server-error type="text" name="phone" ng-model="customer.phone" ng-required="true" ng-minlength="2" class="form-control" placeholder="Số điện thoại">
                        </div>
                        <div class="form-group">
                            <div>
                                <ui-select name="owner" id="inputProvince" ng-model="selectData.province" on-select="selectProvince($item)" ng-required="true" server-error reset-search-input="'false'">
                                    <ui-select-match placeholder="Tỉnh/Thành Phố">{{ $select.selected.name }}</ui-select-match>
                                    <ui-select-choices repeat="province.id as province in provinces">
                                        {{ province.name }}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <ui-select name="owner" id="inputDistrict" ng-model="customer.district" on-select="autoCost()" ng-required="true" server-error reset-search-input="'false'">
                                    <ui-select-match placeholder=Quận/Huyện>{{ $select.selected.name }}</ui-select-match>
                                    <ui-select-choices repeat="district.id as district in districts">
                                        {{ district.name }}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="form-group">
                            <input server-error type="text" name="professional" ng-model="customer.address" ng-required="true" ng-minlength="2" class="form-control" placeholder="Địa Chỉ">
                        </div>

                        <div class="form-group">
                            <div id="security" vc-recaptcha on-success="setResponse(response)" key="recaptchaKey"></div>
                        </div>

                        <div class="form-group">
                            <button ng-disabled="!isFormValid()" ng-disabled="formProcessing" class="btn btn-primary">Đăng ký</button>
                        </div>
                    </fieldset>
                </form>

                <section>
                    <p class="text-center text-muted">Bạn đã có tài khoản? <a href="#/login">Đăng nhập</a></p>
                </section>

            </div>
        </div>
    </div>

</div>