<section class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span> <strong current-page-title></strong>
    </div>
    <div class="panel-body">
        <div class="row">
            <form name="assignationForm" class="col-lg-6 form-validation form-horizontal userForm" role="form" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="shipper">Shipper</label>
                    <div class="col-sm-10">
                        <ui-select name="shipper" id="shipper" ng-model="assignation.shipper" ng-required="true" server-error reset-search-input="'false'">
                            <ui-select-match placeholder="Chọn Shipper">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="shipper in shippers | filter: $select.search | orderBy:'username'">
                                {{ shipper.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="orders">Vận đơn</label>
                    <div class="col-sm-10">
                        <ui-select multiple id="orders" name="orders" ng-model="assignation.orders" ng-required="true" close-on-select="false" reset-search-input="'false'">
                            <ui-select-match placeholder="Chọn nhiều vận đơn">{{ $item.orderId + ' ' + $item.receiverAddress + ' - ' + $item.targetDistrict.name + ' - ' + $item.targetDistrict.province.name }}</ui-select-match>
                            <ui-select-choices repeat="order in orders | filter: $select.search">
                               {{ order.orderId + ' ' + order.receiverAddress + ' - ' + order.targetDistrict.name + ' - ' + order.targetDistrict.province.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="!isFormValid()" ng-json-export-excel data="assignation.orders" report-fields="{'receiverName': 'Tên người nhận', 'receiverPhone': 'SĐT', receiverAddress: 'Địa chỉ', 'targetDistrict.name': 'Quận/Huyện', 'targetDistrict.province.name': 'Tỉnh/Thành Phố', 'totalCost': 'Thu của người nhận'}" filename ="filename()" ng-disabled="formProcessing" type="submit" class="btn btn-w-md btn-primary">Xuất File Giao Việc</button>
                        <div ng-show="!isFormValid()" class="callout callout-info">
                            <p>{{ 'VALID_FORM' | translate }}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>