<div class="modal-header">
    <h4 class="modal-title">Bạn có chắc chắn muốn xóa vận đơn này?</h4>
</div>
<div class="modal-dialog-footer">
    <button class="btn btn-primary" ng-click="$dismiss()">{{ 'NO_CANCEL' | translate }}</button>
    <button class="btn btn-danger" ng-click="$close()">{{ 'YES_DELETE' | translate }}</button>
</div>