<form name="importContact" role="form" enctype="multipart/form-data" novalidate>
    <div class="modal-header">
        <p class="modal-title">Thêm nhiều vận đơn</p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 form-validation form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1">File:</label>
                    <div class="col-sm-11">
                        <div class="fileUpload btn btn-w-md btn-default">
                            <span>Upload</span>
                            <input class="upload" type="file" nv-file-select uploader="uploader" multiple/>
                        </div>

                        <!--<span class="help-block">please used files excel structured, it includes fields ''email", ''fistName", "lastName" , "company", "address, " "phone", "mobile", "country".</span>-->

                        <table class="table">
                            <thead></thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024|number:2 }} KB</td>
                                <td width="30%" ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Hủy
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Xóa
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-w-md btn-dark" ng-click="$dismiss()" type="button">Thoát</button>
    </div>
</form>