<section id="form-selector" class="panel panel-default hide-print">
    <div class="panel-body">
        <form name="searchForm" class="form-inline" role="form" novalidate ng-submit="searchOrder()">
            <div class="form-group">
                <label for="inputDateRange">{{ 'DATE_RANGE' | translate }}</label>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input date-range-picker options="datePickerOpts" class="form-control date-picker" type="text" id="inputDateRange" ng-model="selectData.date" ng-required="true">
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="!isCustomer">
                <label for="status">Khách hàng</label>
                <ui-select name="owner" id="customer" ng-model="selectData.customerId" ng-required="true" server-error reset-search-input="'false'">
                    <ui-select-match placeholder="Chọn một khách hàng">{{ $select.selected.username + (!!$select.selected.name ? ' - ' : '') + $select.selected.name }}</ui-select-match>
                    <ui-select-choices group-by="groupEntities" repeat="customer.id as customer in customerList | filter: $select.search | orderBy:'username'">
                        {{ customer.username + (!!customer.name ? ' - ' : '') + customer.name}}
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group">
                <label for="status">Trạng thái</label>
                <ui-select name="owner" id="status" ng-model="selectData.status" ng-required="true" server-error reset-search-input="'false'">
                    <ui-select-match placeholder="Chọn một trạng thái">{{ $select.selected.label }}</ui-select-match>
                    <ui-select-choices group-by="groupEntities" repeat="status.key as status in orderStatus">
                        {{ status.label }}
                    </ui-select-choices>
                </ui-select>
            </div>

            <button type="submit" class="btn btn-primary">{{ 'SEARCH' | translate }}</button>
        </form>
    </div>
</section>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>

        <div class="button-bar">
            <!--<button ng-click="importOrder()" class="btn btn-primary btn-sm" type="button">-->
                <!--<span class="glyphicon glyphicon-plus"></span>-->
                <!--Upload Nhiều Vận đơn-->
            <!--</button>-->

            <button ui-sref="^.new" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-plus"></span>
               Thêm mới vận đơn
            </button>

            <button ng-json-export-excel data="orders" report-fields="{'orderId': 'Mã vận đơn', 'senderName': 'Tên người gửi', 'senderPhone': 'SĐT người gửi', senderAddress: 'Địa chỉ người gửi', 'senderDistrict.name': 'Quận/Huyện người gửi', 'receiverName': 'Tên người nhận', 'receiverPhone': 'SĐT người nhận', receiverAddress: 'Địa chỉ người nhận', 'targetDistrict.name': 'Quận/Huyện người nhận', 'totalCost': 'Thu của người nhận'}" filename ="getFilename()" ng-disabled="formProcessing" type="submit" class="btn btn-w-md btn-primary">
                <span class="glyphicon glyphicon-download"></span>
                Xuất File
            </button>
        </div>

        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ui-sref="^.new">Thêm mới vận đơn</a></li>
            </ul>
        </div>
    </div>

    <search-box show-query="true" sb-list="orders" search-fields="['id', 'creator.username', 'orderId', 'receiverName', 'receiverPhone', 'receiverAddress', 'targetDistrict.name', 'targetDistrict.province.name']"></search-box>

    <div class="panel-body" ng-show="!!hasData()">
        <div class="table-responsive fix-position">
            <table class="table" at-sortable-query at-table at-paginated at-list="orders" at-config="tableConfig">
                <thead>
                <tr>
                    <th ng-show="!isCustomer" at-attribute="creator.username">Người Tạo</th>
                    <th ng-show="!isCustomer" at-attribute="senderName">Tên người gửi</th>
                    <th ng-show="!isCustomer" at-attribute="senderPhone">SĐT người gửi</th>
                    <th ng-show="!isCustomer" at-attribute="receiverAddress">Nơi gửi</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td at-implicit at-title="Mã Vận Đơn" at-sortable at-attribute="orderId"></td>
                    <!--<td at-implicit at-title="#" at-sortable at-attribute="id"></td>-->
                    <td at-title="{{ 'ACTIONS' | translate }}" at-attribute="action">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " drop-down-fix-position dropdown-toggle> {{ 'ACTIONS' | translate }} <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right-dropdown" role="menu">
                                <li ng-if="isCustomer ? status.key == 6 : true" ng-repeat="status in orderStatusToChange"><a ng-click="changeStatus(status.key, item)">{{ status.label }}</a></li>
                                <li ng-if="!isCustomer" class="divider"></li>
                                <li ng-if="!isCustomer && !item.paidStatus"><a ng-click="changePaidStatus(true, item)">Đã thanh toán</a></li>
                                <li ng-if="!isCustomer && item.paidStatus"><a ng-click="changePaidStatus(false, item)">Chưa thanh toán</a></li>
                                <li ng-if="!isCustomer || item.shippingStatus > 1" class="divider"></li>
                                <li ng-if="!isCustomer || item.shippingStatus > 1"><a ui-sref="^.edit({ id: item.id })">Sửa Vận Đơn</a></li>
                                <li ng-if="!isCustomer || item.shippingStatus > 1"><a ng-click="confirmDeletion(item, $index)">Xóa Vận Đơn</a></li>
                            </ul>
                        </div>
                    </td>
                    <td at-title="Trạng thái" at-sortable at-attribute="shippingStatus">
                        <span class="label" ng-class="getClassStatus(item.shippingStatus)">{{ getLabelStatus(item.shippingStatus) }}</span>
                    </td>
                    <td ng-show="!isCustomer" vat-implicit at-title="Người Tạo" at-sortable at-attribute="creator.username"></td>
                    <td ng-show="!isCustomer" at-implicit at-title="Tên người gửi" at-sortable at-attribute="senderName"></td>
                    <td ng-show="!isCustomer" at-implicit at-title="SĐT người gửi" at-sortable at-attribute="senderPhone"></td>
                    <td ng-show="!isCustomer" at-title="Nơi gửi" at-sortable at-attribute="senderAddress">
                        {{ item.senderAddress + ' - ' + item.senderDistrict.name }}
                    </td>
                    <td at-implicit at-title="Tên người nhận" at-sortable at-attribute="receiverName"></td>
                    <td at-implicit at-title="SĐT người nhận" at-sortable at-attribute="receiverPhone"></td>
                    <td at-title="Nơi Nhận" at-sortable at-attribute="receiverAddress">
                        {{ item.receiverAddress + ' - ' + item.targetDistrict.name }}
                    </td>
                    <td at-title="Tạo lúc" at-sortable at-attribute="createdAt">
                        {{ item.createdAt | date : 'h:mm:ss dd-MM-yyyy'}}
                    </td>
                    <td at-title="Hỏa Tốc" at-sortable at-attribute="urgent">
                        {{ item.urgent ? 'Có' : 'Không' }}
                    </td>
                    <td at-title="Thanh toán" at-sortable at-attribute="shippingStatus">
                        {{ item.paidStatus ? 'Đã thanh toán' : 'Chưa thanh toán' }}
                    </td>
                </tr>
                </tbody>
            </table>

            <at-pagination at-pagination-query ng-if="showPagination()" at-list="orders" at-config="tableConfig"></at-pagination>
        </div>
    </div>
</div>