<section class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span> <strong current-page-title></strong>
        <!--<div class="btn-group btnGrouped" dropdown ng-if="!isNew">-->
            <!--<button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>-->
            <!--<ul class="dropdown-menu pull-right" role="menu">-->
                <!--<li><a ng-click="backToListCustomer()">{{ 'CUSTOMER_MODULE.BACK_TO_CUSTOMER_LIST' | translate }}</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
    <div class="panel-body">
        <div class="row">
            <form name="orderForm" class="form-validation form-col form-horizontal" role="form" ng-submit="submit()" novalidate>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputSenderName">Tên người gửi</label>
                        <input server-error name="senderName" ng-model="order.senderName" ng-required="true" ng-minlength="2" type="text" class="form-control" id="inputSenderName" placeholder="Tên người gửi">
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="inputProvince">Tỉnh/Thành Phố</label>-->
                        <!--<ui-select name="owner" id="inputProvince" ng-model="selectData.senderProvince" on-select="selectProvince($item)" ng-required="true" server-error reset-search-input="'false'">-->
                            <!--<ui-select-match placeholder="Tỉnh/Thành Phố">{{ $select.selected.name }}</ui-select-match>-->
                            <!--<ui-select-choices repeat="province.id as province in provinces">-->
                                <!--{{ province.name }}-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="inputDistrict">Quận/Huyện</label>
                        <ui-select name="owner" id="inputDistrict" ng-model="order.senderDistrict" on-select="autoCost()" ng-required="true" server-error reset-search-input="'false'">
                            <ui-select-match placeholder=Quận/Huyện>{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="district.id as district in districts | filter: $select.search | orderBy:'asc'">
                                {{ district.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label for="inputSenderAddress">Địa chỉ lấy hàng</label>
                        <input server-error name="senderAddress" ng-change="autoCost()" ng-model="order.senderAddress" ng-required="true" ng-minlength="2" type="text" class="form-control" id="inputSenderAddress" placeholder="Địa chỉ lấy hàng">
                    </div>
                    <div class="form-group">
                        <label for="inputSenderPhone">Số điện thoại người gửi</label>
                        <input server-error name="senderName" minlength="10" maxlength="11" ng-pattern="/^[0-9]{10,11}$/" ng-model="order.senderPhone" ng-required="true" type="text" class="form-control" id="inputSenderPhone" placeholder="Số điện thoại người gửi">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="receiverName">Tên người nhận</label>
                        <input server-error name="receiverName" ng-model="order.receiverName" ng-required="true" ng-minlength="2" type="text" class="form-control" id="receiverName" placeholder="Tên người nhận">
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="targetProvince">Tỉnh/Thành Phố</label>-->
                        <!--<ui-select name="owner" id="targetProvince" ng-model="selectData.targetProvince" ng-required="true" on-select="selectTargetProvince($item)" server-error reset-search-input="'false'">-->
                            <!--<ui-select-match placeholder="Tỉnh/Thành Phố">{{ $select.selected.name }}</ui-select-match>-->
                            <!--<ui-select-choices repeat="province.id as province in provinces">-->
                                <!--{{ province.name }}-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label>Quận/Huyện</label>
                        <ui-select name="owner" ng-model="order.targetDistrict" on-select="autoCost()" ng-required="true" server-error reset-search-input="'false'">
                            <ui-select-match placeholder="Quận/Huyện">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="district.id as district in targetDistricts | filter: $select.search | orderBy:'asc'">
                                {{ district.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label for="receiverAddress">Địa chỉ gửi hàng</label>
                        <input server-error name="receiverAddress" ng-change="autoCost()" ng-model="order.receiverAddress" ng-required="true" ng-minlength="2" type="text" class="form-control" id="receiverAddress" placeholder="Địa chỉ gửi hàng">
                    </div>
                    <div class="form-group">
                        <label for="receiverPhone">Số điện thoại người nhận</label>
                        <input server-error name="receiverPhone" minlength="10" maxlength="11" ng-pattern="/^[0-9]{10,11}$/" ng-model="order.receiverPhone" ng-required="true" type="text" class="form-control" id="receiverPhone" placeholder="Số điện thoại người nhận">
                    </div>
                </div>
                <div class="col-md-4">
                    <!--<div class="form-group ">-->
                        <!--<label for="inputOrderId">Mã Vận Đơn</label>-->
                        <!--<input server-error name="orderId" ng-model="order.orderId" ng-minlength="2" type="text" class="form-control" id="inputOrderId" placeholder="Mã Vận Đơn">-->
                    <!--</div>-->
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="cod">Thu hộ (vnd)</label>
                            <input server-error name="cod" ui-number-mask="0" min="0" ng-model="order.cod" type="text" class="form-control" id="cod" placeholder="Thu hộ (vnd)">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="senderPay">Người Trả Phí Ship</label>
                            <ui-select name="owner" id="senderPay" ng-model="order.senderPay" ng-required="true" server-error reset-search-input="'false'">
                                <ui-select-match placeholder="Chọn một người">{{ $select.selected.label }}</ui-select-match>
                                <ui-select-choices repeat="status.key as status in optionSenderPay">
                                    {{ status.label }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row" ng-if="!isCustomer">
                        <div class="form-group col-lg-6">
                            <label for="status">Trạng thái</label>
                            <ui-select name="owner" id="status" ng-model="order.shippingStatus" ng-required="true" server-error reset-search-input="'false'">
                                <ui-select-match placeholder="Chọn một trạng thái">{{ $select.selected.label }}</ui-select-match>
                                <ui-select-choices repeat="status.key as status in orderStatus">
                                    {{ status.label }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="pay">Thanh toán</label>
                            <ui-select name="owner" id="pay" ng-model="order.paidStatus" ng-required="true" server-error reset-search-input="'false'">
                                <ui-select-match placeholder="Chọn một trạng thái">{{ $select.selected.label }}</ui-select-match>
                                <ui-select-choices repeat="status.key as status in payStatus">
                                    {{ status.label }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="weight">Khối lượng (kg)</label>
                            <input server-error name="weight" ng-change="autoCost()" min="0" ng-model="order.weight" ng-required="true" type="number" class="form-control" id="weight" placeholder="Khối lượng (kg)">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="width">Chiều rộng (cm)</label>
                            <input server-error name="width" ng-change="autoCost()" min="0" ng-model="order.width" type="number" class="form-control" id="width" placeholder="Chiều rộng (cm)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="height">Chiều cao (cm)</label>
                            <input server-error name="height" ng-change="autoCost()" min="0" ng-model="order.height" type="number" class="form-control" id="height" placeholder="Chiều cao (cm)">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="length">Chiều dài (cm)</label>
                            <input server-error name="length" ng-change="autoCost()" min="0" ng-model="order.length" type="number" class="form-control" id="length" placeholder="Chiều dài (cm)">
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Mô tả về đơn hàng</label>
                        <textarea server-error name="description" rows="5" ng-model="order.description" type="text" class="form-control" id="description" placeholder="Mô tả về đơn hàng"></textarea>
                    </div>
                </div>

                <div class="select-type-ship" ng-show="isFormValid()">
                    <div class="col-md-6" ng-click="submit(false)">
                        <div class="panel panel-profile">
                            <div class="panel-heading text-center bg-info">
                                <h1 class="ng-binding">Gửi Thường</h1>
                                <p>Đơn hàng nhận sáng giao chiều, nhận chiều giao tối, nhận tối giao ngày hôm sau</p>
                            </div>
                            <div class="list-justified-container">
                                <ul class="list-justified text-center">
                                    <li>
                                        <p class="size-h3">Phí Ship</p>
                                        <p class="text-muted">{{ optionCost.costNormal | number }} vnđ</p>
                                    </li>
                                    <li>
                                        <p class="size-h3">Quãng Đường</p>
                                        <p class="text-muted">{{ optionCost.distance | number }} Km</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-profile" ng-click="submit(true)">
                            <div class="panel-heading text-center bg-danger">
                                <h1 class="ng-binding">Hỏa Tốc</h1>
                                <p>Đơn hàng sẽ lấy trong vòng 45p và được giao trong vòng 2h từ khi lấy hàng</p>
                            </div>
                            <div class="list-justified-container">
                                <ul class="list-justified text-center">
                                    <li>
                                        <p class="size-h3">Phí Ship</p>
                                        <p class="text-muted">{{ optionCost.costUrgent | number }} vnđ</p>
                                    </li>
                                    <li>
                                        <p class="size-h3">Quãng Đường</p>
                                        <p class="text-muted">{{ optionCost.distance | number }} Km</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button ng-show="false" ng-disabled="formProcessing" type="submit" class="btn btn-success">{{ 'SUBMIT' | translate }}</button>
                        <div ng-show="!isFormValid()" class="callout callout-info">
                            <p>Báo giá và hình thức giao hàng sẽ được hiển thị cho bạn lựa chọn nếu bạn điền các dữ liệu trên.</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>