<div id="form-date-range-selector" class="panel panel-default">
    <div class="panel-body">
        <form name="reportSelectorForm" class="form-inline" role="form" ng-submit="trackingOrder()" novalidate>
            <div class="form-group">
                <label for="inputOrder">Mã đơn hàng</label>
                <div>
                    <input class="form-control" type="text" id="inputOrder" ng-model="code" ng-required="true" placeholder="Mã đơn hàng">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Kiểm tra</button>
        </form>
    </div>
</div>

<div ng-if="!!checked" class="panel panel-default">
    <div class="panel-body">
        <div class="col-lg-6">
            <p>Ngày tạo:  <span class="pull-right">{{ checked.created_at | date:'dd-MM-yyyy HH:mm:ss' }}</span></p>
            <p>Ngày chỉnh sửa:  <span class="pull-right">{{ checked.updated_at | date:'dd-MM-yyyy HH:mm:ss' }}</span></p>
            <p>Người nhận:  <span class="pull-right">{{ checked.customer_name }}</span></p>
        </div>
        <div class="table-responsive">
            <table class="table" at-table at-paginated at-list="checked.checkpoints">
                <thead></thead>
                <tbody>
                <tr>
                    <td at-title="Thông tin" at-implicit at-sortable at-attribute="message"></td>
                    <td at-title="Lúc đến" at-sortable at-attribute="checkpoint_time">
                        {{ item.checkpoint_time | date:'dd-MM-yyyy HH:mm:ss' }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>