<section id="form-selector" class="panel panel-default hide-print" ng-if="!isCustomer()">
    <div class="panel-body">
        <form name="searchForm" class="form-inline" role="form" novalidate ng-submit="searchForCustomer(selectData.customer)">
            <div class="form-group">
                <label for="status">Khách hàng</label>
                <ui-select name="owner" id="status" ng-model="selectData.customer" ng-required="true" server-error reset-search-input="'false'">
                    <ui-select-match placeholder="Chọn một khách hàng">{{ $select.selected.username + (!!$select.selected.name ? (' - ' + $select.selected.name ) : '')}}</ui-select-match>
                    <ui-select-choices group-by="groupEntities" repeat="customer.id as customer in customerList | filter: $select.search | orderBy:'username'">
                        {{ customer.username + (!!customer.name ? (' - ' + customer.name) : '')}}
                    </ui-select-choices>
                </ui-select>
            </div>

            <button type="submit" class="btn btn-primary">{{ 'SEARCH' | translate }}</button>
        </form>
    </div>
</section>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-profile">
            <div class="panel-heading text-center bg-danger">
                <h1 class="ng-binding">Hàng Chưa Giao</h1>
            </div>
            <div class="list-justified-container">
                <ul class="list-justified text-center">
                    <li>
                        <p class="size-h3">Đơn Hàng</p>
                        <p class="text-muted">{{ report.unsent.count | number }}</p>
                    </li>
                    <li>
                        <p class="size-h3">Tổng Số Tiền</p>
                        <p class="text-muted">{{ report.unsent.totalCost | number }} vnđ</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-profile">
            <div class="panel-heading text-center bg-info">
                <h1 class="ng-binding">Hàng Đã Giao</h1>
            </div>
            <div class="list-justified-container">
                <ul class="list-justified text-center">
                    <li>
                        <p class="size-h3">Đơn Hàng</p>
                        <p class="text-muted">{{ report.unpaid.count | number }}</p>
                    </li>
                    <li>
                        <p class="size-h3">Tổng Số Tiền</p>
                        <p class="text-muted">{{ report.unpaid.totalCost | number }} vnđ</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-profile">
            <div class="panel-heading text-center bg-success">
                <h1 class="ng-binding">Đã Chuyển Tiền</h1>
            </div>
            <div class="list-justified-container">
                <ul class="list-justified text-center">
                    <li>
                        <p class="size-h3">Đơn Hàng</p>
                        <p class="text-muted">{{ report.paid.count | number }}</p>
                    </li>
                    <li>
                        <p class="size-h3">Tổng Số Tiền</p>
                        <p class="text-muted">{{ report.paid.totalCost | number }} vnđ</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>