<section id="form-selector" class="panel panel-default hide-print">
    <div class="panel-body">
        <form name="searchForm" class="form-inline" role="form" novalidate ng-submit="generateReport(selectedData.date)">
            <div class="form-group">
                <label for="inputDateRange">{{ 'DATE_RANGE' | translate }}</label>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input date-range-picker options="datePickerOpts" class="form-control date-picker" type="text" id="inputDateRange" ng-model="selectData.date" ng-required="true">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">{{ 'SEARCH' | translate }}</button>
        </form>
    </div>
</section>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>

        <div class="button-bar">
            <button ng-json-export-excel data="reports" report-fields="{'creator.username': 'Tên', number: 'Tổng số đơn', 'totalCost': 'Tổng thu', 'shippingCost': 'Tổng phí ship'}" filename ="'export-statistics-date'" ng-disabled="formProcessing" type="submit" class="btn btn-w-md btn-primary">
                <span class="glyphicon glyphicon-download"></span>
                Xuất File
            </button>
        </div>
    </div>

    <!--<search-box show-query="true" sb-list="reports" search-fields="['id', 'name', 'address', 'phone']"></search-box>-->

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table" at-sortable-query at-table at-paginated at-list="reports">
                <thead></thead>
                <tbody>
                <tr>
                    <td at-implicit at-title="Người Tạo" at-sortable at-attribute="creator.username"></td>
                    <td at-title="Tổng đơn hàng" at-sortable at-attribute="number">
                        {{ item.number | number }}
                    </td>
                    <td at-title="Tổng thu" at-sortable at-attribute="totalCost">
                        {{ item.totalCost | number }} vnđ
                    </td>
                    <td at-title="Tổng phí ship" at-sortable at-attribute="shippingCost">
                        {{ item.shippingCost | number }} vnđ
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>